h1 {
    font-size: 32.3888px;
    font-weight: 900;
    line-height: 40.0002px;
    margin-block-end: 0%;
    margin-block-start: 0%;
    margin-bottom: 10%;
    margin-inline-end: 0%;
    margin-inline-start: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: center;
    unicode-bidi: isolate;
}

img {
    display: inline;
    height: 322.391px;
    margin-bottom: 32px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 32px;
    max-height: 60%;
    max-width: 500px;
    overflow-clip-margin: context-box;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    width: 350px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container input {
    width: 93%;
    padding: 8px;
    margin: 13px 0;
    border: 1px solid #ccc;
    border-radius: 125px;
}

.login-container button {
    width: 100%;
    padding: 13px;
    background-color: transparent;
    border: none;
    border-radius: 8px 8px 0px 0px;
    color: #050404;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.login-container button:hover {
    background-color: #6C63FF;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

#loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #16181b;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#signup button {
    width: 100%;
    padding: 10px;
    background-color: #16181b;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
}

.tab-buttons button.active {
    border-bottom: 2px solid #000;
}

.tab-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}